<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bimbel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChatGuru"></activity>
        <activity
            android:name=".MateriSiswa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MateriGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailHistoryGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailHistorySiswa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistorySiswa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailBerita"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HalamanUtamaGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RuangBaca"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataSiswa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsAkun"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HalamanUtamaSiswa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityFormLoginRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>